
main {
    display: flex;
    flex-direction: row;
    max-width: 900px;
}

.skills-section {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    margin-left: 5px;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-around;
}

.skills-header {
    align-items: center;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 2rem;
    color: #61bdb5;
}

.all-skills-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
}

.all-skills {
    border: 1px solid #61bdb5;
    padding: 10px 20px;
    border-radius: 50px;
    display: flex;
    font-weight: 50;
    justify-content: center;

}
.my-projects, .certificates {
    
    border: 1px solid #61bdb5;
    padding: 8px 12px;
    border-radius: 50px;
    display: flex;
    font-weight: 500;
    justify-content: center;
    color: gray;
    margin-bottom: 10px;
    font-size: 16px;
    letter-spacing: 1px;
  


}

.skills-direction {
    font-weight: 500;
    color: gray;
    padding-left: 5px;
    font-size: 18px;
}

.fa-laptop-code {
    font-size: 10rem;
    color: #162431;
    margin-bottom: 20px;
    opacity: 0.4;
    width: 200px;
}



h3,
.education-header {
    font-weight: 600;
    color: #61bdb5;
}



.education {
    position: relative;
    width: 680px;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid #61bdb517;
}

.education-header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 2rem;
}

.list {
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-evenly;
    width: 680px;
}


.programming-course {
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
    border-bottom: 1px solid #1624311f;
    margin-bottom: 3px;
    margin-top: 3px;
    padding-left: 3px;
    padding-right: 3px;

}
.list li:last-child{
    border-bottom: none;
}

.course-information {
    /* width: 50%; */
    width: 330px;
    padding-right: 10px;

}

.course-information-description {
    font-weight: 400;
    font-size: 13px;
    display: inline-block;
    color: black;
    width: 330px;
}
.course-information-description i{
    color: rgb(165, 211, 226);
    font-size: 10px;
}

.course-date {
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    /* font-weight: 300; */
}

.course-information span,
.course-date span {
    font-size: 14px;
    display: block;
    font-weight: 500;
    color: #66d3ca;
}

.fa-square {
    padding-right: 10px;
}
